#footer
  .container
    .copy
      | &copy; <strong>2012-2016.</strong> P and P Electronics Technology Co.,Ltd
    a(id="wireload-logo", href="http://www.ppetech.com", target="_blank")
      img(src="/static/img/pandp-logo.png", alt="PandP")
