link(href="/static/css/bootstrap.css", rel="stylesheet")
link(href="/static/css/screenly.css", rel="stylesheet")
script(src="/static/js/jquery-1.9.1.min.js")
script(src="/static/js/bootstrap.min.js")
