.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="/")
        img(src='static/img/onscreen_ose_logo.png')

      ul.nav.pull-right
        if up_to_date
          li.update-available
            a(href="http://www.screenlyapp.com/ose.html#upgrade")
              i.icon-circle-arrow-down.icon-white
              | Update Available
        li(role="presentation" class="dropdown")
          //- a(href="/settings")
          //-   i.icon-cog.icon-white
          //-   = '\n'
          //-   | Settings
          a(data-toggle="dropdown")
            i.icon-cog.icon-white
            = '\n'
            | Settings

            ul(class="dropdown-menu")
              li 
                a(href="/settings") Settings
              li 
                a(href="/ip_settings") Ip Settings

        li.divider-vertical
        li
          a(href="/system_info")
            i.icon-tasks.icon-white
            = '\n'
            | System Info